/* First Div */
@import "./first_div.css";
.changeButtonRight:hover, .changeButtonLeft:hover{
  opacity: 0.5;
}
@media (max-width : 700px) {
  .changeButtonRight {
    position: absolute;
    right: 0%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    width: -1px;
  }
  .conference {
    width : 1000%;
  }
  .changeButtonLeft {
    position: absolute;
    left: 10%;
    top: 47.5%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* OpaqueBox CSS */
.opaque_head {
  padding-top: 43px;
  padding-bottom: 20px;
}

.opaque {
  border-radius: 20px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 50px !important;
}

@media (max-width : 900px) {
  .RoundButton {
    text-align: center;
    padding-bottom: 20px;
  }
}

.conferences {
  display: flex;
  flex-direction: row;
  margin-bottom: 85px;
  overflow: auto;
}

.carousel {
  display: flex;
  flex-direction: row;
  margin-bottom: 85px;
  overflow: auto;
}

.conference {
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%;
  color: GhostWhite;
  /* background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #1D1D1D 100%) !important; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 507px;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

.service {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(145, 145, 145, 0.13);
  border-radius: 10px;
}
@media (min-width : 900px) {
  .opaque_head {
    padding-right: 134px;
  }
  .opaque_body {
    width : 328px;
    padding-bottom: 25px;
  }
  .opaque {
    width : 452px;
  }
  .second_div {
    overflow: hidden;
    margin-left: 120px !important;
    margin-top: 50px !important;
    margin-right: 50px !important;
  }
  .changeButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
  }
  .conference {
    width: 300px;
  }
  .wrap {
    padding-right: 25px;
  }
  .service {
    width: 479px;
    height: 271px;
  }
  .conferences {
    width: 950px;
  }
}
/* EndOfFirstDiv */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
