.blogs {
  display: flex;
  flex-direction: row;
}
/* Blog Poster */
.blog_poster {
  height: 275px;
  display: flex;
  flex-direction: column;
}
.blog_img {
  height: 100%;
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog_meta {
  display: flex;
  flex-direction: row;
  background-color: #121E32;
  height: 45px;
  justify-content: space-between;
  padding: 5px;
}
.blog_share {
  padding-top: 1px !important;
  padding-right:
}
/* End of Blog Poster */
.blog_title {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px;
}

.blog_content {
  width: 300px;
}

@media (min-width : 900px) {
  .blogs {
    width : 950px;
  }
  .blog {
    height: 491px;
    margin-right: 50px;
  }
  .blog_poster {
    flex-direction: row;
  }
  .blog_meta {
    width: 70px;
    height: 100%;
    flex-direction: column;
  }
}
