@media (min-width : 900px) {
  .footer_first {
    display: flex;
    flex-direction: row !important;
    padding-bottom: 20px;
    justify-content: space-between;
    margin-right: 150px;
  }
  .footer_about, .footer_links {
    border-right: 0.1px solid #ffffff;
  }
  .footer_links {
    display: flex;
    flex-direction: row;
  }
  .footer_link {
    margin-right: 40px;
    margin-left : 40px;
    display: flex;
    flex-direction: column;
  }
  .footer_contact {
    display: flex;
    flex-direction: column;
    margin: 60px;
  }
  .footer {
    justify-content: space-around;
    align-items: center;
  }
  /* .footer_links {
    width: 40px;
  } */
}
.footer {
  padding: 20px;
  padding-top: 40px !important;
  color: #fff;
  background-color: #121E32;
  display: flex;
  flex-direction: column;
}
